<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Admin::Pages#dashboard</h1>
      <p>Find me in app/views/admin/pages/dashboard.html.erb</p>    
    </div>
  </div>
</div>


