<h1>Admin::Pages#dashboard</h1>
<p>Find me in app/views/admin/pages/dashboard.html.erb</p>
<ul>
  <li><%= link_to "Activities", admin_activities_path %></li>
  <li><%= link_to "Workouts", admin_workouts_path %></li>
  <li><%= link_to "Plans", admin_plans_path %></li>
  <li><%= link_to "Machines", admin_machines_path %></li>
  <li></li>
  <li></li>
</ul>
