<div class="container">
  <div class="row">
    <div class="col">
      <h1>Add exercise to workout</h1>
    </div>
  </div>
  <div class="col">
    <%= render partial: 'form', locals: { workout: @workout, workout_exercise: @workout_exercise } %>
  </div>
</div>