<div class='container mt-3 position-sticky' style="top: 74px;">
  <h2>Admin</h2>
  <ul class="nav flex-column text-sm-start">
    <li class="nav-item">
      <%= link_to(admin_activities_path, class: "nav-link") do %>
        <i class="fad fa-running"></i> Activities
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "Machines", admin_machines_path, class: "nav-link" %>
    </li>
        <li class="nav-item">
          <%= link_to(admin_plans_path, class: "nav-link") do %>
            <i class="fad fa-clipboard-list"></i> Plans
          <% end %>
     
    </li>
    <li class="nav-item">
      <%= link_to(admin_workouts_path, class: "nav-link") do %>
        <i class="fad fa-dumbbell"></i> Workouts
      <% end %>
    </li>
  </ul>
</div>