<nav class="navbar fixed-top navbar-light bg-light" style='margin-top: 56px;'>
  <div class="container-fluid justify-content-center">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item">
        <%= link_to "Excerises", admin_exercises_path, class: "nav-link p-0 px-1" %>
      </li>
      <li class="nav-item">
        <%= link_to "Workouts", admin_workouts_path, class: "nav-link p-0 px-1" %>
      </li>
      <li class="nav-item">
        <%= link_to "Plans", admin_plans_path, class: "nav-link p-0 px-1" %>
      </li>
    </ul>
  </div>
</nav>