<div class='container mt-3 position-sticky' style="top: 10px;">
  <h2>Admin</h2>
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to "Activities", admin_activities_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Workouts", admin_workouts_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Plans", admin_plans_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Machines", admin_machines_path, class: "nav-link" %>
    </li>
  </ul>
</div>