<header class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-center">
    <% if admin %>
      <%= link_to "JessFlex(ADMIN)", admin_dashboard_path, class: "navbar-brand" %>
      
    <% else %>
      <%= link_to "JessFlex", root_path, class: "navbar-brand" %>
    <% end %>
  </div>
</header>

<% if admin %>
  <%= render partial: 'shared/admin_panel' %>
<% end %>