<header class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-center">
    <%= link_to "JessFlex", admin ? admin_dashboard_path : root_path, class: "navbar-brand" %>
  </div>
</header>