@import "bootstrap";
@import "./actiontext.scss";

body {
  margin-top: 110px; 
  min-height: 100vh;
}

.form-border {
  border-radius: 1.5rem;
}

.button_to {
  display: inline;
}

.valid-field {
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: #198754;
}

.invalid-field {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.field-with-errors {
  box-sizing: none;

  .form-control {
    border-color: #dc3545;
  }
}
