<%= render partial: "shared/breadcrumbs" %>
<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-8">
      <div class="card shadow-sm" style="border-radius: 1.5rem;">
      <% # TODO: "move border-radius for card to a class" %>
        <div class="card-body">
          <h1 class="mx-3">New Activity</h1>
          <div class="card-text m-4">
            <%= render 'form', activity: @activity %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
