<h1><%= @workout_activity.activity.name %></h1>
<div class="ul">
  <li>Sets: <%= @workout_activity.series.set %></li>
  <li>Reps: <%= @workout_activity.series.rep %></li>
  <li></li>
  <li></li>
</div>